*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;}
.left{
    width: 25%;
    height: 100vh;
    background-color: #FFF;
}
.right{
    width: 75%;
    height: 100vh;
    /* background-color: #F7ECDC; */
}